# root dir, mostly configure / make stuff
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/sumo-*.tar.gz
/sumo-*.zip
/diff.*
/compile
/latex
/mirror
# IDE project files
/.settings
/.cproject
/.project
/.pydevproject
/.vs
# build dir
/cmake-build*
/cmake_build*
/build/cmake-build*
/build/cmake_build*
/build/cmake-codeblocks*
/build/cmake-clang*
/build/cmake-mingw*
/out

# data dir
/data/proj
# docs dir, make artifacts
/docs/doxygen
/docs/examples
/docs/javadoc
/docs/pydoc
/docs/tutorial
/docs/userdoc
/docs/web/site/
/docs/web/__pycache__/
/docs/web/*.pyc

# tools dir
/tools/[0-9]*
/tools/game/*.netstate.xml
/tools/game/*.tlsstate.xml
/tools/game/*.tripinfos.xml
/tools/game/racing/log
/tools/game/racing/tripinfos.xml
/tools/game/A10KW/*
/tools/contributed/lisum-core/target
/tools/contributed/lisum-gui/target
/tools/contributed/traas/dist
/tools/contributed/traas/javadoc
/tools/contributed/traas/release
/tools/contributed/traas/target
/tools/libsumo/java/
/tools/libsumo/_libsumo.*
/tools/libsumo/libsumo.py
/tools/libsumo/libsumoPYTHON_wrap.cxx
/tools/libsumo/libsumoc.so
# extracted tests
/tests/_*
# global patterns
Makefile
Makefile.in
*.vcxproj.user
*.class
lib*.a
.deps
**/.DS_Store
.libs
*.o
*.pyc
*.sdf
*.suo
*.db
*.opendb
*.db-shm
*.db-wal
*.obj
*.log
*.tlog
*.lastbuildstate
*.jar
*.ilk
*.pdb
*.props
*.exp
*.lib
*.res
*.ipch
.vscode
*.aps
